@import '_colors'

*, *:before, *:after
	box-sizing border-box

body
	margin 0
	padding 0
	margin-top 48px

h1
	margin 0

.navbar
	background md-teal-400
	padding 8px
	color #FFF
	font-size 20px
	vertical-align middle
	line-height 32px
	height 48px
	text-align center
	position fixed
	top 0
	left 0
	right 0
	img
		height 32px
		margin-right 8px

.preface
	background md-purple-300
	padding 16px
	color #FFF
	text-align center
	h1
		font-weight 300

.stats
	background md-light-blue-500
	padding 16px
	text-align center
	color #FFF
	a:link
		color #FFF
	a:visited
		color #FFF
